<script>
	import { signIn, signOut } from '@auth/sveltekit/client';
	import { page } from '$app/stores';
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<section>

	<p>
		{#if $page.data.session}
			<span class="signedInText">
				<small>Signed in as</small><br />
				<strong>{$page.data.session.user?.image ?? 'ID Placeholder'}</strong>
				<br />
				<strong>{$page.data.session.user?.name ?? 'User Placeholders'}</strong>
			</span>
			<br />
			<button on:click={() => signOut()} class="button">Sign out</button>
		{:else}
			<span class="notSignedInText">You are not signed in</span>
			<button on:click={() => signIn('vatsim')}>Sign In with Vatsim</button>
		{/if}
	</p>
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 0.6;
	}
</style>
