<script>
	/** @type {import('./$types').PageData} */ export let data;
</script>

<svelte:head>
	<title>Areas</title>
	<meta name="description" content="Lara Areas" />
</svelte:head>
<div class="text-column">
	<h1>Countries with Active Areas</h1>

	<table class="table-auto">
		<thead>
			<tr>
				<th>Country Code</th>
				<th />
				<th />
			</tr>
		</thead>
		<tbody>
			{#each data.countries_availble as country}
				<tr>
					<td>{country}</td>
					<td
						><a href="https://lara.vatsim.pt/api/areas/{country}/vertical"
							>Vertical Area Distribution</a
						></td
					>
					<td><a href="https://lara.vatsim.pt/api/areas/{country}/timeline">Areas Timeline</a></td>
				</tr>
			{/each}
		</tbody>
	</table>

	<p>
		There are possibly more countries included. Keep in mind business days that some military might
		not activate areas :)
	</p>
</div>
